<!DOCTYPE html>
<html>
<head>
	<title>Leave Form Upload </title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Leave Form Upload</h1>

		<body bgcolor="lightgrey">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

                Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="name" ><br><br>

		  		Contact:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="contact"><br><br>


                    Reason:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="reason"><br><br>

		  		Attachment: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Submit Application</button>

			</form>
<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>
